<h1> Snag' em </h1>

<h2> Welcome! </h2>
<%= link_to "Create Post", new_post_path %> 
<%= link_to "View All Posts", posts_path %>

<p>Already have an account? <%= link_to "Log in", login_path %>.</p>
<p>Need an account? <%= link_to "Sign Up", signup_path %>.</p?