.top-bar{
	background-color: #37D67A;
}

.nav-space{
	display: block;
	font-weight: normal;
	padding: 0 0.9375rem;
	width: 75%;
}

.log-in{
	background-color:#697689 !important;
	border: #697689 solid 1px !important;
	color: #37D67A !important;
	padding-top: .3rem !important;
	font-family: Montserrat !important;
}

.log-in:hover{
	color: #697689 !important;
	background-color:transparent !important;
}

.sign-up{
	background-color: transparent !important;
	border: white solid 1px !important;
	padding-top: .3rem !important;
	font-family: Montserrat !important;
}

.sign-up:hover{
	color: #37D67A !important;
	background-color: white !important;
}

.nav-bar-button{
	background-color: transparent !important;
}

.nav-bar-button .button{
	padding-left: 1.5rem !important;
	padding-right: 1.5rem !important;
}

.hero{
	background: url("home-background.png") no-repeat center center;
	background-size: cover;
  	height: 100vh; 
  }

.home-button{
	background-color: #37D67A;
	padding-left: 5rem;
	padding-right: 5rem;
}

.home-button:hover{
	background-color: white;
	color: #37D67A;
}

.hero .row{
	padding-top: 20rem;
}

.workout{
	border: 1px #D1D1D1 solid;
}

.row.full-width {
  width: 100%;
  max-width: 100%; 
}

body{
	background-color: #F7F7F7;
	font-family: Avenir;
}

.img-circle {
    border-radius: 50%;
    border: 10px solid white;
    width: 75%;
    height: auto;
}

.profile {
	border-right: 1px solid #D1D1D1;
}

.mont {
	font-family: Montserrat !important;
}

.profile-page .columns{
	padding-top: 1em;
}
