.top-bar{
	background-color: #37D67A;
}

.nav-space{
	display: block;
	font-weight: normal;
	padding: 0 0.9375rem;
	width: 75%;
}

.notifications{
	background-color:#EF4836 !important;
	border: #EF4836 solid 1px !important;
	color: white !important;
	padding-top: .3rem !important;
	font-family: Montserrat !important;
}

.notifications:hover{
	background-color:white !important;
	border: #EF4836 solid 1px !important;
	color: #EF4836 !important;
	padding-top: .3rem !important;
	font-family: Montserrat !important;
}

.log-in{
	background-color:#697689 !important;
	border: #697689 solid 1px !important;
	color: #37D67A !important;
	padding-top: .3rem !important;
	font-family: Montserrat !important;
}

.log-in:hover{
	color: #697689 !important;
	background-color:transparent !important;
}

.sign-up{
	background-color: transparent !important;
	border: white solid 1px !important;
	padding-top: .3rem !important;
	font-family: Montserrat !important;
}

.sign-up:hover{
	color: #37D67A !important;
	background-color: white !important;
}

.nav-bar-button{
	background-color: transparent !important;
}

.nav-bar-button .button{
	padding-left: 1.5rem !important;
	padding-right: 1.5rem !important;
}

.hero{
	background: url("home-background.png") no-repeat center center;
	background-size: cover;
  	height: 100vh; 
  }

.home-button{
	background-color: #37D67A;
	padding-left: 5rem;
	padding-right: 5rem;
}

.home-button:hover{
	background-color: white;
	color: #37D67A;
}

.hero .row{
	padding-top: 20rem;
}

.workout{
	padding-left: 0;
	padding-right: 0;
	border-bottom: 1px #D1D1D1 solid;
	border-left: 1px #D1D1D1 solid;
}

.row.full-width {
  width: 100%;
  max-width: 100%; 
}

body{
	background-color: #F7F7F7;
	font-family: Avenir;
}

h1,h2,h3,h4,h5,h6{
	font-family: Avenir;
	color: #697689;
}

.img-circle {
    border-radius: 50%;
    border: 10px solid white;
    width: 75%;
    height: auto;
}

.img-circle-small {
    border-radius: 50%;
    border: 10px solid white;
   	width: 50%;
    height: auto;
    margin-top: 1em;
}

.profile {
	border-right: 1px solid #D1D1D1;
}

.mont {
	font-family: Montserrat !important;
}

.profile-page .columns{
	padding-top: 1em;
}

.my-events{
}

.avenir-header{
	font-family: Avenir;
	color: #697689;
	padding-left: .9375em;
	padding-right: .9375em;
	padding-top: .4em;
	padding-bottom: .2em;
}

.section-header{
	padding-left: 0;
	padding-right: 0;
	border-bottom: 1px solid #D1D1D1;
}

.no-padding{
	padding-left: 0;
	padding-right: 0;
}

.workout-title{
	font-family: Avenir;
	color: #697689;
	font-weight: bold;
}

.workout-time{
	font-family: Avenir;
	color: #697689;
}

.workout-content{
	padding-left: .9375em;
	padding-right: .9375em;
}

.profile-name{
	font-family: Avenir;
	color: #697689;
}

.workout-show{
	padding-top: 2em;
}

<<<<<<< HEAD
.next-icon{
	display: table-cell;
	vertical-align: middle;
	padding-top: 20px;
	height: 70px;
}

.workout-cell{
	height: 175px;
}

.tagalong-button{
	background-color:#37D67A !important;
	border: #37D67A solid 1px !important;
	color: white !important;
	font-family: Montserrat !important;
}

.tagalong-button:hover{
	color: #37D67A !important;
	background-color:transparent !important;
}

.fix-button{
	width:225px;
}

.snag-button{
	background-color:#697689 !important;
	border: #697689 solid 1px !important;
	color: white !important;
	font-family: Montserrat !important;
}

.snag-button:hover{
	color: #697689 !important;
	background-color:transparent !important;
}

.new-button{
	background-color: #F7F7F7 !important;
	border: #37D67A solid 1px !important;
	color: #37D67A !important;
	font-family: Montserrat !important;
	margin-top: 10px;
}

.new-button:hover{
	color: #37D67A !important;
	background-color:#697689 !important;
	border: #D7D7D7 solid 1px !important;
}

.plus-button{
	width: 20px;
	height: auto;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 3px;
}

.notification-button{
	margin-top: 5px;
	background-color: white !important;
	color:black;
	border: #37D67A solid 1px !important;
}

.notification-button:hover{
	background-color: #73EFA7 !important;
	color: white !important;
	border: #37D67A solid 1px !important;
}

.sorting-category {
	padding: 20px;
	font-size: 18px;
}

.sorting-category img {
	margin-right: 25px;
}